

div.intro-body {
    display: flex;
    flex-direction: row;

}



#slide-1P {
    font-size: 2.1rem;
}

#slide-1SpanBNB {
    height: 72px;
    content: url("/assets/img/tokens/BNB/binance-coin-bnb-logo.svg");
    padding-left: 3%;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
}

/* #lamboTicker {
    max-height: 42px;
} */

div#divTicker > div.ticker {
    display: inline-block !important;
}

.list-unstyled {
    list-style: none;
    padding-left: 15px;
}

div.fire#burnAnim{
    position: absolute;
    display: inline !important;
}


div#slide-1P > ul.list-unstyled {
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
}

.title-wrap {
    background-color: linear-gradient(0deg, #000, #272727);
    box-shadow: 0px 4px 3px rgba(0,0,0,0.3),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
}

a.color-b::hover {
    color: black !important;
}
.GIFcontainer, img#satanGIF, img#heisenbergGIF, img#wenRambo {
    position: relative !important;
    height: 321px;
    width: 256px;
    display: inline-block !important;
}

div#overlords {
    display: flex !important;
    flex-direction: row !important;
    line-height: 1.1;
}

.timeline-item {
    margin-top: 11px;
    padding-top: 3px;
}

a.invertedLink::hover {
    color: red !important;
}
.sliderCard {
    display: flex;
    flex-direction: column;
}

p.intro-subtible {
    display: block !important;
}

.line-through {
    text-decoration-line: line-through;
}

.title-wrap {
    display: flex;
    justify-content: center !important;
    height: 42px;
}

#fireContainer {
    float: left !important;
    margin-left: -17px !important;
    margin-top: -2px;
}

.title-wrap {
    margin-top: 21px !important;
}
.title-box {
    margin-top: 5px !important;
}

.subTitleH4 {
    font-size: 16px !important;
}

h6#rick {
    margin-top: 11px !important;
}

section.footnotes {
    /* margin-top: 26px !important; */
    position: relative;
    bottom: 0 !important;
    max-width: 960px !important;
}

.footDiv {

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footP {
    margin-bottom: 0px;
    margin-left: 0 !important;
    line-height: 1.11;
}

ul.ETHmafia {
    display: flex !important;
    flex-direction: row !important;
}

 
/* #projector {
    position: absolute; 
    top: 0px;
    left: 0px;
    width:100%;
    height:100%;
  }  */

img#wenRambo {
    margin-top: 15px !important;
}